<% layout('../layout') %>

<section class="content-header">
    <h1>
        Home
        <small>welcome</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><a href="/"><i class="fa fa-home"></i> Home</a></li>
    </ol>
</section>

<section class="content">
    <h4 class="page-header"><%= title %></h4>

    <div class="row">
        <div class="col-lg-12">
            <p>This is a live version of Node.js Boilerplate, a boilerplate for Node.js web apps.</p>

            <p><b>Github project</b>: <a href="https://github.com/danilojrr/NodeJS-Boilerplate" target="_blank">https://github.com/danilojrr/NodeJS-Boilerplate</a></p>
        </div>
    </div>

    <h4 class="page-header">Features</h4>

    <div class="row">
        <div class="col-lg-12">
            <ol>
                <li><a href="http://expressjs.com/" target="_blank"><b>Express</b></a>: a web application framework for node</li>
                <li><a href="http://www.mongodb.org/" target="_blank"><b>MongoDB</b></a> with <a href="http://mongoosejs.com/" target="_blank"><b>Mongoose</b></a>: an elegant mongodb object modeling for node.js</li>
                <li><a href="http://visionmedia.github.io/mocha/" target="_blank"><b>Mocha</b></a>: a feature-rich javascript test framework running on node.js and the browser (BDD and TDD style testing)
                <li><a href="http://bower.io/" target="_blank"><b>Bower</b></a>: a package manager for the web</li>
                <li><a href="http://gruntjs.com/" target="_blank"><b>Grunt</b></a>: a javascript task runner</li>
                <li><a href="http://www.almsaeedstudio.com/preview" target="_blank"><b>AdminLTE</b></a>: a free Premium Admin Control Panel Theme that is based on <a href="http://getbootstrap.com/" target="_blank">Bootstrap 3.x</a> with tons of elements</li>
                <li><a href="http://getbootstrap.com/" target="_blank"><b>Bootstrap 3</b></a> + <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank"><b>Font Awesome</b></a> + <a href="http://ionicons.com/" target="_blank"><b>IonIcons</b></a>
                <li><b>MVC</b> Project Structure</li>
                <li><b>Local Authentication</b> with <a href="http://passportjs.org/" target="_blank"><b>Passport.js</b></a></li>
                <li><b>Awesome Notifications</b> with <a href="http://sciactive.com/pnotify/" target="_blank"><b>PNotify</b></a></li>
                </li>
                <li>
                    <b>Account Management</b>
                    <ol>
                        <li>Gravatar</li>
                        <li>Profile Details</li>
                        <li>Change Password</li>
                        <li>Delete Account</li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>

    <h4 class="page-header">Admin Template</h4>

    <div class="row">
        <div class="col-lg-12">
            <p>It's based on <a href="https://github.com/almasaeed2010/AdminLTE" target="_blank">AdminLTE</a>, a free admin premium template with widgtes, charts, UI elements, form layouts, tables, calendar, mailbox, notifications and several pages. Check it out.</p>
        </div>
    </div>
</section>