<!-- Partial: Message -->

<% if (typeof message != 'undefined' && message.description.length > 0) { %>
	<div id="message" class="hidden" data-success="<%= message.success %>" data-description="<%= message.description %>"></div>
<% } %>

<script src='/js/plugins/pnotify/config.pnotify.js'></script>
<script src='/js/plugins/pnotify/message.js'></script>
<script src='/js/plugins/pnotify/confirm.js'></script>