/* Custom Spaces */

.mb20 {
	margin-bottom: 20px;
}

/* General */

.btn .fa {
	margin-right: 7px;
}

/* Profile */

.profile-header {
	margin-bottom: 20px;
}

.profile-header h1 {
	margin: 0 0 15px 0;
	line-height: 28px;
}

.profile-header p {
	margin-bottom: 3px;
}

/* Signup */

#signup-form select {
	border: none;
	color: #999;
	padding-left: 8px;
}